@import "normalize";
@import "bourbon";
@import "variables";
@import "mixins";
@import "inline_elements";
@import "block_elements";
@import "editable_lists";
@import "pairs";

html, body
{
  // ensure the container can be sized with a minimum height the size of the viewport
  height: 100%;

  // set up the typography
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $white;

  @include mobile
  {
    font-size: 15px;
  }
}

#container
{
  // ensure the background takes up the entire screen
  min-height: 100%;

  // add a small amount of padding to the top and bottom of the container to prevent the margins 
  // from collapsing
  padding: 1px 0;

  // used border box to prevent the padding from causing scroll bars to appear
  box-sizing: border-box;

  // set the gradient background and fix it in place
  background-attachment: fixed;
  background-color: $ripe-plum;
  @include background-image(linear-gradient(top, $ripe-plum, $scarlet));
}

// BUG FIX: for some strange reason, mobile safari incorrectly renders background gradients when 
// the DOM is updated. I've tried every CSS trick I could think of to get this to work, but it 
// refuses to cooperate. For now, I'm turing off the background gradient and falling back to the
// background color.
.ios #container
{
  background-image: none;
}