@import "normalize";
@import "bourbon";
@import "variables";
@import "inline_elements";
@import "block_elements";
@import "editable_lists";
@import "pairs";

html, body
{
  // ensure the container can be sized with a minimum height the size of the viewport
  height: 100%;

  // set up the typography
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $white;
}

#container
{
  // ensure the background takes up the entire screen
  min-height: 100%;

  // add a small amount of padding to the top and bottom of the container to prevent the margins 
  // from collapsing
  padding: 1px 0;

  // create a background color fallback
  background-color: $scarlet;

  // set the gradient background and fix it in place
  @include background-image(linear-gradient(top, $ripe-plum, $scarlet));
  background-attachment: fixed;

  // used border box to prevent the padding from causing scroll bars to appear
  box-sizing: border-box;
}