@import "normalize";
@import "bourbon";
@import "variables";
@import "inline_elements";
@import "block_elements";
@import "editable_lists";
@import "pairs";

html, body
{
  // ensure the container can be sized with a minimum height the size of the viewport
  height: 100%;

  // set up the typography
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $white;

  position: relative;
}

#container
{
  // ensure the background takes up the entire screen
  min-height: 100%;

  // add a small amount of padding to the top and bottom of the container to prevent the margins 
  // from collapsing
  padding: 1px 0;

  // create a background color fallback
  background-color: $ripe-plum;
  @include background-image(linear-gradient(top, $ripe-plum, $scarlet));

  // set the gradient background and fix it in place
  background-attachment: fixed;

  // used border box to prevent the padding from causing scroll bars to appear
  box-sizing: border-box;

  // BUG FIX: On iOS devices, the background gradient fails to render on when many elements are
  // inserted into the DOM. The following properties force a redraw when this happens, which then 
  // renders the page correctly. I still haven't figured out why this works.
  &:after
  {
    content: "hello";
    top: 0;
    position: fixed;
    z-index: -1;
    background-color: $ripe-plum;
  }
}