@import "variables";
@import "mixins";

a
{
  // change the default anchor color from blue
  color: $ghost;
}

button
{
  // layout
  padding: 0.65rem 0;
  min-width: 18rem;
  font-size: 1.25rem;
  line-height: 1.25em;

  @include mobile
  {
    width: 100%;
  }

  // hide the border
  border-width: 0;

  // style
  border-radius: 0.5rem;
  background-color: $white;

  // mix the background gradient colorsto make the button appear to be cut through the middle
  color: mix($scarlet, $ripe-plum);
}

// BUG FIX:; This is part of the bug fix mentioned in the application.css.scss file.
.ios button
{
  color: $ripe-plum;
}