@import "variables";

.pairs
{
  // ensure the pairs are spaced
  margin-top: 2rem;
  margin-bottom: 2rem;

  // Add the padding to the container since the table doesn't use the padding property. Half of the
  // padding is added here and the other half is added to the table cells.
  padding: 0 0.5rem;

  h2
  {
    // tighten up the space between the header and the talbe
    margin: 1rem 0;

    // override the default padding to add the rest of the spacing to the element
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  // style the tables that contain the pairs
  table
  {
    margin: 1rem 0;

    box-sizing: border-box;
    width: 100%;
  }

  // HACK: This is a hack to display a border radius on the rows since the tr element does not 
  // its border radisu to be styled
  tr:nth-child(odd) td
  {
    background-color: $smoke;

    &:first-of-type
    {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &:last-of-type
    {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  td
  {
    width: 50%;

    // type
    text-align: left;
    line-height: 2rem;

    &:first-of-type
    {
      padding-left: 0.5rem;
    }

    &:last-of-type
    {
      padding-right: 0.5rem;
    }
  } 
}