{{#each this}}
  <li>
    {{! 
    The placeholder and spell check properties should be parameterized and passed into the 
    editable list. 
    }}
    {{view Ember.TextField valueBinding="name" placeholder="Type in a name"}}
  </li>
{{/each}}